body {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.naranja {
  background-color: orange;
  /* width: 100%; */
  height: 45%;
}
.verde {
  background-color: greenyellow;
  /* width: 100%; */
  height: 100%;
}
.azul {
  background-color: skyblue;
  /* width: 100%; */
  height: 30%;
}
.gris {
  background-color: gainsboro;
  width: 49%;
  height: 45%;
}
.container-1 {
  /*outline: solid 1px black;*/
  /* width: 100%; */
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container-2 {
  /* outline: solid 1px black; */
  /* width: 100%; */
  height: 25vh;
  margin-top: 2.5vh;
  margin-bottom: 2.5vh;
}
.container-3 {
  /* outline: solid 1px black; */
  /* width: 100%; */
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container-4 {
  /* outline: solid 1px black; */
  /* width: 100%; */
  height: 20vh;
  margin-top: 2.5vh;
  margin-bottom: 2.5vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.pie-3 {
  align-self: flex-end;
}
.pie-4 {
  align-self: flex-end;
}
/*para movil*/
@media (max-width: 320px) {
  /*container-1{
    height: 15vh;*/
  .container-2 {
    height: 12.5vh; /*+5*/
  }
  .container-3 {
    height: 55vh;
  }
  .container-4 {
    height: 9.5vh; /*+2.5*/
    margin-bottom: 0.5vh;
  }
  .pie-2 {
    display: none;
  }
  .pie-3 {
    display: none;
  }
  .pie-4 {
    display: none;
  }
  .gris {
    width: 100%;
    height: 100%;
  }
}
/*para monitor*/
@media (min-width: 900px) {
  body {
    margin-left: 25px;
    margin-right: 25px;
  }
  .naranja {
    width: 49%;
    height: 100%;
  }
  .container-1 {
    height: 10vh;
    /* display: flex; */
    flex-direction: row;
    justify-content: space-between;
  }
  .container-2 {
    height: 40vh;
    margin-top: 3vh;
    margin-bottom: 3vh;
  }
  .container-3 {
    /* width: 100%; */
    height: 30vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .azul {
    width: 32.3%;
    height: 100%;
  }
  .container-4 {
    /* width: 100%; */
    height: 7vh;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    display: flex;
    justify-content: space-between;
    /*falta quitar 3vh*/
  }
  .gris {
    width: 24%;
    height: 100%;
  }
}
