body {
  background-color: orange;
}
.verti {
  width: 2px;
  height: 180px;
  left: 107px;
  top: 18px;
}
.hori {
  height: 2px;
  width: 180px;
  top: 107px;
  left: 18px;
}
div {
  width: 200px;
  height: 200px;
  position: absolute;
  }
.linea {
  background-color: black;
}

.blanco {
  background-color: white;
}

.rojo {
  background-color: red;
}
.gris {
  background-color: rgb(196, 194, 194);
}
.negro {
  background-color: black;
  }
  .int{
    scale: 0.9;
  left: 7px;
  }
  .ext{
    scale: 1;
    left: 9px;
  }
.a0 {
  scale: 0.1;
}
.a1 {
  scale: 0.2;
}
.a2 {
  scale: 0.3;
}
.a3 {
  scale: 0.4;
}
.a4 {
  scale: 0.5;
}
.a5 {
  scale: 0.6;
}
.a6 {
  scale: 0.7;
}
.a7 {
  scale: 0.8;
}
.a8 {
  scale: 0.85;
}
.a9 {
  scale: 0.9;
}

.circulo {
  border-radius: 100%;
}
