body{
    background-color: black;
    color: white;
    display:flex;
}
.box{
    margin: 10vh 10vw;
    width: 300px;
    height:fit-content;

}
.bombilla{
    width: 300px;
    height: auto;
    position:absolute;
    transition: opacity 1s ease, scale 0.1s ease;
    z-index: -1; 
}
#bombilla-2{
opacity: 0.1;
}
article{
    width: 150px;
    display:flex;
    flex-direction: column;
}
.oculto{
    display:none;
}
