div {
  height: 437.344px;
  width: 300px;
  display:flex;
  justify-content: center;
}
#anverso {
  display: none;
  height: 437.344px;
  width: 300px;
  margin: 0px;
  transition: width 0.5s ease;
}
#reverso {
  height: 437.344px;
  width: 300px;
  margin: 0px;
  transition: width 0.5s ease;
}

