div {
  margin:10vh 25vw;
  height: 437.344px;
  width: 300px;
  display:flex;
  justify-content: center;
}
#reverso {
  height: 437.344px;
  width: 300px;
  margin: 0px;
  border: solid 1px black;
  border-radius: 10px;
  transition: width 0.1s ease;
}

